.main-header__logo {
  max-width: 20%;
  margin-right: 50px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center; 
}
.logo__img {
  margin-right: 10px;
  width: 30px;
  height: 30px; 
}

.main-footer__logo {
  
  margin-right: 50px;
  flex-direction: row;
  font-size: 20px;
  margin: 0 auto;
}