.personal__title {
  font-size: 30px;
  margin-bottom: 30px;
}

.bookFormVisible {
  margin-bottom: 30px;;
}

.orderList {
  margin: 0;
  padding: 0;

}
.orderItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  margin-bottom: 16px;
  border: 1px solid #d89b64;
  font-size: 16px;
}

.deleteOrder {
  margin-left: 15px;
  padding: 8px;
  background:#d89b64;
  color: #fff;
  cursor: pointer;
  
}
.noOrder {
  margin-bottom: 16px;
  font-size: 24px;
}
.orderTitle{
  margin-bottom: 16px;
  font-size: 16px;
}